SourceCode/src/main/java/AdditionalFieldsSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.w3schools.com" xmlns="http://www.w3schools.com"
	elementFormDefault="qualified">
	<xs:complexType name="xFieldImpl" mixed="true">
		<xs:attribute name="ref" use="required"></xs:attribute>
	</xs:complexType>
	<xs:complexType name="xAdditionalFieldsImpl">
		<xs:sequence>
			<xs:element name="xField" maxOccurs="unbounded" minOccurs="0" type="xFieldImpl"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="xAdditionalFields" type="xAdditionalFieldsImpl"></xs:element>
</xs:schema>